
.vs/MoreBirds/v16/.suo
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MoreBirds.csproj.AssemblyReference.cache
.vs/MoreBirds/v17/.suo
bin/Debug/MoreBirds.dll
bin/Debug/MoreBirds.pdb
bin/Debug/Unity.TextMeshPro.dll
obj/Debug/MoreBirds.csproj.CopyComplete
obj/Debug/MoreBirds.csproj.CoreCompileInputs.cache
obj/Debug/MoreBirds.csproj.FileListAbsolute.txt
obj/Debug/MoreBirds.dll
obj/Debug/MoreBirds.pdb
